@import "global.css";

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 2rem;
}

header .logo {
    font-size: 1.2rem;
}

header .btn-login {
    padding: .4rem 1.5rem;
    background-color: var(--quaternary-color);
    border-radius: 8px;
    border: 2px solid var(--text-primary-color);
}

nav {
    display: none;
}

main {
    flex: 1;
    padding: 0 2rem;
}

.hero {
    text-align: center;
    padding-top: 1.5rem;
}

.hero .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.cards .card {
    background-color: var(--quaternary-color);
    width: 70%;
    border-radius: 8px;
    padding: 2rem;
}

.card img {
    width: 50%;
}

.card .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .8rem;
}


